<div class="span6 offset1">
						<div class="social pull-right">
							<div class="fb-send" data-colorscheme="light" data-href="http://www.rent-tallahassee.com/feed_entries/<%= @feed_entry.id %>"></div> 
							<a href="https://twitter.com/intent/tweet?button_hashtag=RentTallahassee&text=<%= @feed_entry.name %> http://rent-tallahassee.com/feed_entries/<%= @feed_entry.id %>" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta" style="margin-bottom: -4px;">Tweet #RentTallahassee</a>
						</div>
	<p>
		<b>Name:</b>
		<%= @feed_entry.name %>
	</p>

	<p>
		<%= raw @feed_entry.summary %>
	</p>

	<p>
		<a href="<%= @feed_entry.url %>" class="btn btn-danger">See More</a>
	</p>

	<p>
		<b>Published at:</b>
		<%= @feed_entry.published_at %>
	</p>
	
</div>
<div class="span4">
	<%= link_to 'Back', site_path(@feed_entry.site_id), class: 'btn btn-small btn-primary btn-block' %>
	<div class="listing-comments">
		<div class="fb-comments" data-href="http://www.Rent-Tallahassee.com/feed_entries/<%= "#{@feed_entry.id}-#{@feed_entry.name}".parameterize %>" data-width="350" data-num-posts="2"></div>
	</div>
</div>
