<div class="span6 offset1">
	<div class="social pull-right">
		<div class="fb-send" data-colorscheme="light" data-href="http://www.rent-tallahassee.com/feed_entries/<%= @feed_entry.id %>"></div> 
		<a href="https://twitter.com/intent/tweet?button_hashtag=RentTallahassee&text=<%= @feed_entry.name %> http://rent-tallahassee.com/feed_entries/<%= @feed_entry.id %>" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta" style="margin-bottom: -4px;">Tweet #RentTallahassee</a>
	</div>
	<p>
		<title><h1>
			<%= @feed_entry.name %>
		</h1></title>
	</p>

	<p>
		<%= raw @feed_entry.summary %>
	</p>

	<p>
		<a href="<%= @feed_entry.url %>" class="btn btn-danger">See More</a>
	</p>

	<p>
		<b>Published at:</b>
		<%= @feed_entry.published_at %>
	</p>
	<table class="table table-hover">
		<tr>
			<th><h2><%= link_to "More Listings", site_path(@feed_entry.site_id) %></h2></th>
		</tr>
		<% @feed_entries.each do |feed| %>
		<tr>
			<td>
				
					<ul class="unstyled lead">
						<li>
							<%= link_to truncate(feed.name, length: 50), feed_entry_path("#{feed.id}-#{feed.name.parameterize}") %>
						</li>
					</ul>
				
			</td>
		</tr>
		<% end %>
	</table>
</div>
<div class="span4">
	<%= link_to 'Back', site_path(@feed_entry.site_id), class: 'btn btn-small btn-primary btn-block' %>
	<div class="listing-comments">
		<div class="fb-comments" data-href="http://www.Rent-Tallahassee.com/feed_entries/<%= "#{@feed_entry.id}-#{@feed_entry.name}".parameterize %>" data-width="350" data-num-posts="2"></div>
	</div>
</div>
