<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @classified.headline %>
</p>

<p>
  <b>Content:</b>
  <%= @classified.content %>
</p>


<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
