<p id="notice"><%= notice %></p>
<div class="span2">
	<table class="table">
		<tr>
			<td><img src="http://lorempixel.com/120/120/city/1"></td>
		</tr>
	</table>
</div>
<div class="span6">
	<h3>
		<%= @classified.headline %>
	</h3>
	<p>
		<%= @classified.content %>
	</p>
</div>
<div class="span4">
	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
			<%= link_to 'Edit this Rental', edit_classified_path(@classified), class: 'btn btn-block' %>
		<% end %>
	<% end %>
	<%= link_to 'Reserve This Rental', '', class: 'btn btn-success btn-block btn-large' %>

	<%= link_to 'Back', classifieds_path, class: 'btn btn-block' %>
</div>
