<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :hero_unit %>
    <%= f.input :call_to_subscribe %>
    <%= f.input :side_box_1_title %>
    <%= f.input :side_box_1_text %>
    <%= f.input :side_box_2_title %>
    <%= f.input :side_box_2_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
