<div class="span10 offset1">
	<div class="well" style="text-align:center;">
		<h2><%= @site.hero_unit %></h2>
	</div>
</div>

<div class="span7 offset1">	
	<%= render 'classifieds/display-table' %>

</div>
<div class="span3">
	<%= link_to 'Edit Site', edit_site_path(@site), class: 'btn btn-block' %>
	<div class="well well-small">
		<h3><%= @site.call_to_subscribe %></h3>
			<%= render 'subscribers/form' %>
	</div>
	<div class="well well-small">
		<h4><%= @site.side_box_1_title %></h4>
		<span class="lead"><%= @site.side_box_1_text %></span>
	</div>
	<div class="well well-small">
		<%= link_to 'Browse Packages', '/packages', class: 'btn btn-danger btn-block btn-large' %>
	</div>
	<div class="well">
		<h5><%= @site.side_box_2_title %></h5>
		<%= raw @site.side_box_2_text %>
	</div>	
</div>
